<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Handle Cross Origin Resource Sharing
    # Handled in PHP index.php

    # Send everything to index.php
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [QSA,L]
</IfModule>
